node_modules/
.pnp/
.pnp.js
pnpm-lock.yaml
dist/
dist-*/
out/
build/
release/
releases/
electron-dist/
electron-out/
.vite/
resources/bin/
resources/dlls/
*.exe
*.dll
*.pdb
*.bin
*.node
*.tsbuildinfo
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
dev-app-update.yml
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
.DS_Store?
._*
Thumbs.db
tmp/
temp/
*.tmp
*.swp
resources/game_assets/
temp_assets/
.eslint-cache